 .flex_container {
     display: flex;
     height: 1600px;
     width: 100%;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     background-color: white;
 }
 
 .flex_boder {
     height: 300px;
     width: 99%;
     background-color: black;
     flex-direction: row;
     align-items: flex-start;
     justify-content: flex-start;
 }
 
 .flex_text {
     display: inline-flex;
     color: white;
     margin-left: 10px;
 }